doctype html
html
  head
    title Chat Room
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="stylesheets/chat.css")
  body
    .container.mt-5
      .row
        .col-md-9.offset-md-1
          .card
            .card-body
              h1.text-center Chat Room

              ul#chat-log.list-group
                // Messages will be added here

              form#chat-form.mt-3
                .form-group
                  input#message.form-control(type="text", placeholder="Enter your message")
                .form-group
                  .d-flex.justify-content-between
                    button#send.btn.btn-primary.btn-block.mr-3(type="button")
                      i.fas.fa-paper-plane
                      | Send
                    button#save.btn.btn-success.btn-block.ml-3(type="button")
                      i.fas.fa-save
                      | Save

    script(src="https://cdn.socket.io/4.6.1/socket.io.min.js")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="/js/chat.js")
